<%= javascript_pack_tag 'home' %>
<div class="home">
  <h2 class="my-5">Course List</h2>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Most Popular</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Newest</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="my-4 scroll">
        <% @popular_courses.each do |course| %>
          <%= render course %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="my-4 scroll">
        <% @newest_courses.each  do |course| %>
          <%= render course %>
        <% end %>
      </div>
    </div>
  </div>
  <h2 class="my-5">Tag Popular</h2>
  <div class="tag-list">
    <% @tags.each do |tag| %>
      <div class="mx-4 row">
        <%= link_to tag.name , tag_index_path(id: tag.id), class:"btn btn-primary mr-1 text-white text-center" %>
        <%= button_to "+", follow_tags_path(tag_id: tag.id) , class:"btn btn-primary text-white text-center"%>
      </div>
    <% end %>
  </div>
</div>
