<div class="container">
  <div class="gray-center-box">
    <%= simple_form_for @course, url: courses_path, method: :post do |f| %>
      <%= f.input :name, required: true%>
      <%= f.input :description, required: true %>
      <%= f.input :category_id, collection: Category.pluck(:id, :name), label_method: :last, value_method: :first, required: true %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
